In [3]:
import dask

In [4]:
ls daskdata/

data1.csv  data2.csv  data3.csv

In [8]:
import dask.dataframe as dd

In [9]:
df = dd.read_csv("daskdata/data*.csv")

In [10]:
df

Dask DataFrame Structure:
                time temperature humidity
npartitions=3
               int64       int64    int64
                 ...         ...      ...
                 ...         ...      ...
                 ...         ...      ...
Dask Name: from-delayed, 9 tasks

In [11]:
df.head()

   time  temperature  humidity
0     0           22        58
1     1           21        57
2     2           25        57
3     3           26        55
4     4           22        53

In [12]:
df.temperature.mean().compute()

22.055555555555557

In [13]:
import pandas

In [14]:
pdf = pandas.read_csv("daskdata/data1.csv")